.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.25rem 5.62rem 5.37rem 6.69rem;
  width: 100%;
  gap: 4.81rem;

  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.56rem;
    width: 100%;

    h1 {
      font-size: 3rem;
      font-weight: 500;
      .highlight {
        color: #ff0101;
      }
    }

    p {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5rem;
    }
  }

  .profile-content {
    display: flex;
    flex-direction: row;
    gap: 1.94rem;
    width: 100%;

    .profile-content-left {
      display: flex;
      flex-direction: column;
      gap: 1.94rem;

      width: 100%;

      .activity-chart {
        width: 100%;
        height: 20rem;

        border-radius: 0.3125rem;
        background: #fbfbfb;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
        padding: 1.44rem;
      }
    }

    .profile-content-right {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      width: 16.125rem;

      gap: 2.44rem;
    }
  }
}
