@use "../../responsive.scss" as *;

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70.375rem;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  padding: 1rem;
  gap: 2rem;

  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.56rem;
    width: 100%;

    h1 {
      font-size: 3rem;
      font-weight: 500;
      .highlight {
        color: #ff0101;
      }
    }

    p {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5rem;
    }
  }

  .profile-content {
    display: flex;
    flex-direction: row;
    gap: 1.94rem;
    width: 100%;

    .profile-content-left {
      display: flex;
      flex-direction: column;
      gap: 1.94rem;

      width: 100%;

      .activity-chart {
        width: 100%;
        height: 20rem;

        border-radius: 0.3125rem;
        background: #fbfbfb;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
      }

      .activity-stats {
        width: 100%;
        height: 16.4375rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.87rem;
      }
    }

    .profile-content-right {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      width: 16.125rem;

      gap: 2.44rem;
    }
  }

  .error-message,
  .loading-message {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
    width: 80%;
    max-width: 600px;
  }

  .error-message {
    color: #ff0000;
    background-color: rgba(255, 0, 0, 0.1);
  }

  .loading-message {
    color: #666;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

/* Styles responsives pour les écrans de taille moyenne */
@include respond-to(medium) {
  .profile-container {
    padding: 0.75rem;

    .profile-header {
      h1 {
        font-size: 2.5rem;
      }
    }

    .profile-content {
      flex-direction: column-reverse;
      gap: 1.5rem;

      .profile-content-left {
        gap: 1.5rem;

        .activity-stats {
          gap: 1.25rem;
        }
      }

      .profile-content-right {
        flex-direction: row;

        width: 100%;
        gap: 1.75rem;
      }
    }
  }
}

/* Styles responsives pour les petits écrans (près de 1024px) */
@include respond-to(small) {
  .profile-container {
    padding: 0.5rem;

    .profile-header {
      gap: 1rem;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .profile-content {
      flex-direction: column-reverse;
      gap: 1.25rem;

      .profile-content-right {
        flex-direction: row;
        width: 100%;
        gap: 1.25rem;
      }
    }
  }
}
