.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.12rem 5.5rem 1.12rem 1.75rem;
  background-color: #020203;
  gap: 9.31rem;

  .logo {
    width: 11.12481rem;
    height: 3.80838rem;
  }

  .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .nav-item {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.5rem;
      color: #fff;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        filter: brightness(0.75);
      }

      &.active {
        filter: brightness(1.2);
        text-decoration: underline;

        &:hover {
          filter: brightness(0.75);
        }
      }
    }
  }
}
